{% load static %}


<nav class="w-full flex justify-between items-center py-3 px-4 fixed z-50">
    <div class="w-6/12">
        <a href="#">
            <img class="w-3/12 size-20" src="{% static 'images/Siscol logo.png' %}">
        </a>
    </div>

    <div class="w-6/12 flex flex-nowrap justify-end">
        <div class="mr-3">
            <a href="#">
                <button class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                    Entrar
                </button>
            </a>
        </div>

        <div class="mr-3">
            <a href="#">
                <button class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                    Cadastrar
                </button>
            </a>
        </div>
    </div>
</nav>

